.font18 label{
   width: 60%;
}
#carousel-one-post{
    margin: 0 7%;
}
.fa-chevron-left,
.fa-chevron-right {
  display: inline-block;
  font-size: 35px;
  width: 40px !important;
  border-radius: 5px !important;
  height: 40px;
  background: black;
  background-size: 100% 100%;
}
.coverrr {
  /* height: 400px;
  overflow: hidden;
  background-color:#00000078;
  padding: 0 20%; */
  background: black;
  text-align: center;
  align-items: center;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.single-image-of-lisitng{
  -webkit-flex-shrink:0; 
  max-width: 100%; 
  object-fit: contain; 
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .coverrr {
    height: 200px;
    overflow: hidden;
    padding: 0px;
    background-color: #f1f1f1;
  }
  .coverrr img{
    height: 200px;   
  }
}
.dis-flex{
  display: flex;
}
.margin20-5{
  margin: 20px 5px
}
/* @media screen and (max-width: 495px) { 
  .font18 label{
    width: 185px;
 }
} */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0px;
  top: 145px;
  width: 100%;
}