<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>Terms &amp; Conditions</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Terms &amp; Conditions</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="page rowPadding">
    <section class="entry-content text-justify">
        <h4>Acceptance of Terms</h4>
        <p>WeCoOwn, Inc. (“WeCoOwn”) makes this Web Site (the “Site”), including all information, documents,
            communications, files, text, graphics, software, and products available through the Site (collectively, the
            “Materials”) and all services operated by WeCoOwn through WeCoOwn and third parties through the Site
            (collectively, the “Services”), available for your use subject to the terms and conditions set forth in this
            document and any changes to this document that WeCoOwn may publish from time to time (collectively, the
            “Terms of Use”).</p>
        <p>By accessing or using this Site in any way, including, without limitation, use of any of the Services,
            downloading or uploading of any Materials, or merely browsing the Site, you agree to and are bound by the
            Terms of Use.</p>
        <p>WeCoOwn reserves the right to change the Terms of Use and other guidelines or rules posted on the Site from
            time to time at its sole discretion, and will provide notice of material changes on the home page of the
            Site. Your continued use of the Site, or any Materials or Services accessible through it, after such notice
            has been posted constitutes your acceptance of the changes. Your use of the Site will be subject to the most
            current version of the Terms of Use, rules, and guidelines posted on the Site at the time of such use. You
            should periodically check the “Terms of Use” link on the Site’s home page to view the then current terms. If
            you breach any of the Terms of Use, your authorization to use this Site automatically terminates, and any
            Materials downloaded or printed from the Site in violation of the Terms of Use must be immediately
            destroyed.</p>
        <h4>Defined Terms </h4>
        <p> One of the Services offered through this Site is a collaboration and file-sharing service. Information,
            materials, files, communications, and documents that are posted by users in conjunction with the service are
            referred to collectively as “Content”. The group of persons among which the collaboration and file sharing
            takes place is referred to herein as the “Work Group.” All other user-supplied information, materials,
            files, communications, and documents, excluding the Content, are referred to collectively as “User Content.”
            WeCoOwn Content means all Materials provided by WeCoOwn. Content, User Content, and WeCoOwn Content may have
            different restrictions and conditions associated with them.</p>
        <h4>Types of Users.</h4>
        <p> Please be aware that certain activities on this Site, may be available only to persons who are covered under
            a paid or trial subscription agreement with WeCoOwn (“Subscribers’”) and persons invited by Subscribers to
            participate in such activities.</p>
        <h4>Intellectual Property; Limited License to Users</h4>
        <p> The Materials and Services on this Site, as well as their selection and arrangement, are protected by
            copyright, trademark, patent, and or other intellectual property laws, and any unauthorized use of the
            Materials or Services at this Site may violate such laws and the Terms of Use. Except as expressly provided
            herein, WeCoOwn and its suppliers do not grant any express or implied rights to use the Materials and
            Services. You agree not to copy, republish, frame, download, transmit, modify, rent, lease loan, sell,
            assign, distribute, license, sub-license, reverse engineer, or create derivative works based on the Site,
            its Materials, or its Services or their selection and arrangement, except as expressly authorized herein. In
            addition, you agree not to use any data mining, robots, or similar data gathering and extraction methods in
            connection with the Site.</p>
        <h4>Refund Policy</h4>
        <p> Due to the nature of our products and services we do not give refunds for any reason. Our products are
            downloaded, or sent digitally, and our services involve allowing access to privately secured areas of our
            website.</p>
        <h4>Use of Services </h4>
        <p>When using Services on this Site that are offered by WeCoOwn, you shall be subject to any posted guidelines,
            rules, or licenses applicable to such Services and to the Terms of Use. Such guidelines, rules, or licenses
            may contain terms and conditions in addition to those in the Terms of Use. In addition to the Materials and
            Services offered by WeCoOwn, this Site also makes available materials, information, and services provided by
            third parties (collectively, the “Third-Party Services”). The Third-Party Services are governed by separate
            license agreements that accompany such services. WeCoOwn offers no guarantees and assumes no responsibility
            or liability of any type with respect to the Third-Party Services, including any liability resulting from
            incompatibility between the Third-Party Services and the Materials and Services offered by WeCoOwn. You
            agree that you will not hold WeCoOwn responsible or liable with respect to the Third-Party Services or seek
            to do so. The services and accompanying documentation that is made available to download from this Site is
            the copyrighted and for patented work of WeCoOwn and for its suppliers. Use of the services is governed by
            the terms of the license agreement that accompanies or is included with such services. Such terms are
            available for review and are incorporated herein by this reference. You will not be able to download or
            install any services that is accompanied by or includes a license agreement unless you agree to the terms of
            such license agreement. If you do not agree to such terms, you will not be able to use the services. Absent
            a license agreement that accompanies the services, use of the services will be governed by the Terms of Use.
            You agree that you will not de-compile, reverse engineer, or otherwise attempt to discover the source code
            of the software used for the services available on the Site.</p>
        <p>Use of WeCoOwn Content and User Content Except as indicated to the contrary elsewhere on this Site, you may
            view, download, and print the WeCoOwn Content and User Content available on this Site subject to the
            following conditions:</p>
        <p>1.The WeCoOwn content and User Content may be used solely for personal, informational, and internal purposes.
        </p>
        <p>2. The WeCoOwn content and User content may not be modified or altered in any way.</p>
        <p>3. The WeCoOwn content and User content on the Site may not be distributed or sold, rented, leased or
            licensed to others.</p>
        <p>4. You may not remove any copyright or other proprietary notices contained in the WeCoOwn Content or User
            Content.</p>
        <p>5. WeCoOwn reserves the right to revoke the authorization to view, download, and print the WeCoOwn Content
            and User Content available on this Site at any time, and any such use shall be discontinued immediately upon
            notice from WeCoOwn.</p>
        <p>6. The rights granted to you constitute a license and not a transfer of title.</p>
        <h4>Exceptions </h4>
        <p>Various sections of the Site, showcase the work of business owners and entrepreneurs. Such works belong to
            their creators, may be protected by copyright or other proprietary laws, and are for display purposes only.
            Accordingly, you may not download or print these works unless there is a notice associated with the work
            expressly permitting such uses. The rights specified above to view, download, and print the WeCoOwn Content
            and User Content available on this Site are not applicable to the design or layout of this Site. Elements of
            this Site are protected by other laws and may not be copied or imitated in whole or in part.</p>
        <h4>Submission Materials</h4>
        <p> When submitting materials to WeCoOwn, it’s partners, vendors, employees, managers, shareholders, directors,
            and for any other affiliated party of WeCoOwn, for the purpose of “shopping” WeCoOwn’s services, or hiring
            WeCoOwn to perform certain services, you grant all rights to the materials sent, whether sent by email,
            website transmission, snail mail, fax, or hard copy delivery via courier, or hand delivery. In the event
            WeCoOwn is not engaged to perform services these materials WILL NOT be returned and WeCoOwn is NOT
            responsible for the dissemination of these materials.</p>
        <h4>Trademark Information.</h4>
        <p> The trademarks, logos, and service marks displayed on this Site are the property of WeCoOwn or other third
            parties. You are not permitted to use the Marks without the prior written consent of WeCoOwn or such third
            party that may own the Marks. WeCoOwn and the WeCoOwn logo are trademarks of WeCoOwn. License to WeCoOwn for
            User Content Certain Services offered through this Site accommodate or require User Content. Depending upon
            the nature of the Service, by submitting User Content to this Site, you grant WeCoOwn one of the following
            types of licenses:</p>
        <p>1. For User Content that is the result of your creative efforts and which is intended to be displayed on the
            Site, such as examples of work you have had done using WeCoOwn services, you grant WeCoOwn a worldwide,
            royalty-free, non-exclusive license to modify (for purposes of formatting, maintenance, or Site
            administration only) and reproduce such User Content. You also grant WeCoOwn the right to distribute and
            publicly display and perform such User Content for the purpose for which such User Content was submitted to
            the Site. This license will be in effect until such User Content is removed from the Site. If you submit
            User Content, you acknowledge that such content may be modified and annotated, and WeCoOwn may display the
            User Content together with such modifications and annotations solely for purposes of the service. You
            acknowledge and agree that any User Content you submit to WeCoOwn, such as business plans or offering
            memorandums, may be downloaded by users of this Site.</p>
        <p>2. For User Content such as comments to any WeCoOwn Forums, bug reports, piracy reports, or product
            suggestions, you grant WeCoOwn and the users of this Site an unrestricted, worldwide, irrevocable license to
            use, reproduce, display, perform, modify, transmit, and distribute such User Content, and you also agree
            that WeCoOwn is free to use any ideas, concepts, know-how, or techniques that you send us for any purpose
            without any compensation to you. However, we will not release your name or otherwise publicize the fact that
            you submitted such User Content to us unless: (a) you grant us permission to do so; (b) we first notify you
            that the User Content you submit to a particular part of the Site will be published or otherwise used with
            your name on it; (c) we have a good faith belief that we are required to do so bylaw and for in response to
            a subpoena or court order; or (d) we believe it necessary in order to protect the rights of WeCoOwn or
            others.</p>
        <h4>License to WeCoOwn for Content</h4>
        <p> For Content that is intended to be accessible only to members of your Work Group, you grant WeCoOwn the
            right to copy, display, distribute, and otherwise use such Content in connection with operation of the
            Conferencing service. You agree that WeCoOwn may access and/or disclose such Content if WeCoOwn has a good
            faith belief that it must do so to (a) perform system administration, such as diagnosing and correcting
            problems, or testing any aspect of the Conferencing service; or responding to a valid court order or
            subpoena: (c) comply with legislation or regulations, including, without limitation, the Digital Millennium
            Copyright Act; (d) investigate complaints; or (e) protect WeCoOwn or others from liability or damages.
            WeCoOwn has no obligation to retain Content once the applicable subscription agreement has expired or
            terminated, and you agree that WeCoOwn shall not be liable for any failure to store Content after such
            expiration or termination.</p>
        <h4>Prohibited Communications</h4>
        <p> You may submit only User Content or Content to the Site that is (a) owned by you, (b) submitted with the
            express permission of the owner or within the scope of the license to such content, or (c) in the public
            domain. You are prohibited from posting or transmitting to or from this Site any unlawful, threatening,
            harassing, libelous, offensive, defamatory, obscene, or pornographic materials, or other materials that
            would violate any law or the rights of others, including, without limitation, laws against copyright
            infringement, and rights of privacy and publicity. Violation of these restrictions may result in denial of
            or limitations on access by you to this Site.</p>
        <p>User Conduct In using the Site, including all Services and Materials available through it, you agree: not to
            disrupt or interfere with any other user’s enjoyment of the Site or affiliated or linked sites; not to
            upload, post, or otherwise transmit through the Site any viruses or other harmful, disruptive, or
            destructive files; not to create a false identity; not to use or attempt to use another’s account, password,
            service, or system without authorization from WeCoOwn; not to access or attempt to access any Content which
            you are not authorized to access; not to disrupt or interfere with the security of, or otherwise cause harm
            to, the Site, or any Services, Materials, system resources, accounts, passwords, servers, or networks
            connected to or accessible through the Site or any affiliated or linked sites.</p>
        <p>Managing Content and Communications Although it is not our intention to do so, WeCoOwn reserves the right, in
            its sole discretion, to delete or remove User Content from the Site and to restrict, suspend, or terminate
            your access to all or part of this Site, at any time if we have cause to do so (including, without
            limitation, our good faith belief that you have violated the Terms of Use) without prior notice or
            liability. In addition, WeCoOwn reserves the right to delete or remove Content if the relevant subscription
            has expired or lapsed or if WeCoOwn has a good faith belief that the user posting such Content has violated
            these Terms of Use, or any law or regulation, or that such deletion or removal is necessary to comply with
            the law or to protect the rights of WeCoOwn or others.</p>
        <p>WeCoOwn may, but is not obligated to, monitor or review (i) any areas on the Site where users transmit or
            post User Content, including but not limited to areas where Services are available, or chat rooms, bulletin
            boards, or other user forums: and (ii) the substance of any User Content. To the maximum extent permitted by
            law, WeCoOwn will have no liability related to User Content or Content arising under the laws of copyright,
            libel, privacy, obscenity, or otherwise. WeCoOwn also disclaims all liability with respect to the misuse,
            loss, modification, or unavailability of any User Content or Content.</p>
        <p>Use and Protection of Account Number and Password You are responsible for maintaining the confidentiality of
            your account number, account name, and for password, if applicable. You are responsible for damages
            resulting from all uses of your account number, account name, and or password, whether actually or expressly
            authorized by you, unless access to your account number, account name, and/or password was obtained through
            no fault or negligence of your own.</p>
        <h4>WARRANTIES AND DISCLAIMERS.</h4>
        <p>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE IN A WRITTEN AGREEMENT BETWEEN YOU AND WeCoOwn OR YOU AND A THIRD
            PARTY WITH RESPECT TO SUCH PARTY’S MATERIALS OR SERVICES, THIS SITE, AND ALL MATERIALS AND SERVICES
            ACCESSIBLE THROUGH THIS SITE, ARE PROVIDED ‘AS IS’ WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
            INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
            PURPOSE, OR THE WARRANTY OF NON-INFRINGEMENT.</p>
        <p>WITHOUT LIMITING THE FOREGOING, WeCoOwn MAKES NO WARRANTY THAT (i)THE SERVICES AND MATERIALS WILL MEET YOUR
            REQUIREMENTS: (ii) THE SERVICES AND MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE: (iii)
            THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES OR MATERIALS WILL BE EFFECTIVE, ACCURATE, OR
            RELIABLE: (iv) THE QUALITY OF ANY PRODUCTS, SERVICES, OR MATERIALS PURCHASED OR ACCESSIBLE BY YOU THROUGH
            THE SITE WILL MEET YOUR EXPECTATIONS: AND (v) ANY ERRORS IN THE SOFTWARE OBTAINED FROM OR USED THROUGH THE
            SITE, OR ANY DEFECTS IN THE SITE, ITS SERVICES, OR MATERIALS, WILL BE CORRECTED.</p>
        <p>THIS SITE COULD INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES, OR TYPOGRAPHICAL ERRORS. WeCoOwn MAY MAKE
            CHANGES TO THE MATERIALS AND SERVICES AT THIS SITE, INCLUDING THE PRICES AND DESCRIPTIONS OF ANY PRODUCTS
            LISTED HEREIN, AT ANY TIME WITHOUT NOTICE. THE MATERIALS OR SERVICES AT THIS SITE MAY BE OUT OF DATE, AND
            WeCoOwn MAKES NO COMMITMENT TO UPDATE SUCH MATERIALS OR SERVICES.</p>
        <p>YOU UNDERSTAND AND ACKNOWLEDGE THAT (i) WeCoOwn DOES NOT CONTROL, ENDORSE. OR ACCEPT RESPONSIBILITY FOR ANY
            CONTENT, PRODUCTS, OR SERVICES OFFERED BY THIRD PARTIES THROUGH THE SITE, INCLUDING, WITHOUT LIMITATION,
            THIRD-PARTY VENDORS AND THIRD PARTIES ACCESSIBLE THROUGH LINKS ON THE SITES [ii] WeCoOwn MAKES NO
            REPRESENTATION OR WARRANTIES WHATSOEVER ABOUT ANY SUCH THIRD PARTIES, THEIR CONTENT, PRODUCTS, OR SERVICES:
            [iii] ANY DEALINGS YOU MAY HAVE WITH SUCH THIRD PARTIES ARE AT YOUR OWN RISKS AND (iv) WeCoOwn SHALL NOT BE
            LIABLE OR RESPONSIBLE FOR ANY CONTENT, PRODUCTS, OR SERVICES OFFERED BY THIRD PARTIES.</p>
        <p>THE USE OF THE SERVICES OR THE DOWNLOADING OR OTHER USE OF ANY MATERIALS THROUGH THE SITE IS DONE AT YOUR OWN
            DISCRETION AND RISK AND WITH YOUR AGREEMENT THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR
            COMPUTER SYSTEM, LOSS OF DATA, OR OTHER HARM THAT RESULTS FROM SUCH ACTIVITIES. WeCoOwn ASSUMES NO LIABILITY
            FOR ANY COMPUTER VIRUS OR OTHER SIMILAR SOFIWARE CODE THAT IS DOWN LOADED TO YOUR COMPUTER FROM THE SITE OR
            IN CONNECTION WITH ANY SERVICES OR MATERIALS OFFERED THROUGH THE SITE. NO ADVICE OR INFORMATION, WHETH ER
            ORAL OR WRITTEN, OBTAIN ED BY YOU FROM WeCoOwn OR THROUGH OR FROM THE SITE SHALL CREATE ANY WARRANTY NOT
            EXPRESSLY STATED IN THE TERMS OF USE.</p>
        <p>International Users This Site can be accessed from countries around the world and may contain references to
            WeCoOwn products, services, and programs that are not available in your country. These references do not
            imply that WeCoOwn intends to announce such products, services, or programs in your country. The Site is
            controlled, operated, and administered by WeCoOwn from its offices within the United States of America.
            WeCoOwn makes no representation that the Site, or the Services or Materials available through it, are
            appropriate or available for use at other locations outside the United States, and access to the Site from
            territories where the Site or any of its Services or Materials are illegal is prohibited. If you access the
            Site from a location outside the United States, you are responsible for compliance with all local laws. See
            the section on export control laws, below, for further information.</p>
        <h4>Personal Information and Privacy</h4>
        <p> Except as set forth in the Terms of Use, your personal information will be deemed to be confidential. With
            the exception of Content and certain types of User Content, any non-personal information or material sent to
            WeCoOwn will generally be deemed to NOT be confidential. You understand and agree that we may disclose
            information about you if we have a good faith belief that we are required to do so by law or legal process,
            to respond to claims, or to protect the rights, property, or safety of WeCoOwn or others.</p>
        <h4>LIMITATION OF LIABILITY</h4>
        <p>IN NO EVENT, INCLUDING, WITHOUT LIMITATION, NEGLIGENCE, SHALL WeCoOwn, ITS SUBSIDIARIES, AFFILIATES, AGENTS,
            OFFICERS, DIRECTORS, EMPLOYEES, PARTNERS, OR SUPPLIERS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL,
            PUNITIVE, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, INCLUDING,
            WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA, OR PROFITS, WHETHER OR NOT WeCoOwn HAS BEEN
            ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION
            WITH THE USE OF OR THE INABILITY TO USE THIS SITE, ITS SERVICES, OR MATERIALS, THE STATEMENTS OR ACTIONS OF
            ANY THIRD PARTY ON OR THROUGH THE SITE, ANY DEALINGS WITH VENDORS OR OTHER THIRD PARTIES, ANY UNAUTHORIZED
            ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, ANY IN FORMATION THAT IS SENT OR RECEIVED OR NOT SENT
            OR RECEIVED, ANY FAILURE TO STORE OR LOSS OF DATA, FILES, OR OTHER CONTENT, ANY SERVICES AVAILABLE THROUGH
            THE SITE THAT ARE DELAYED OR INTERRUPTED, OR ANY WEB SITE REFER ENCED OR LINKED TO FROM THIS SITE.</p>
        <p>Indemnity and Liability You agree to indemnify and hold WeCoOwn, and its subsidiaries, affiliates, officers,
            agents, co-branders or other partners, and employees, harmless from any claim or demand, including
            reasonable attorneys’ fees, made by any third party due to or arising out of content you submit, post to, or
            transmit through the Site (including, without limitation, any User Content, Content or computer viruses),
            your use of the Site, your connection to the Site, your violation of the Terms of Use, or your violation of
            any rights of another person or entity.</p>
        <h4>Governing Law and Jurisdiction</h4>
        <p> This Site (excluding linked sites) is controlled by WeCoOwn from its offices within the State of California,
            United States of America. By accessing this Site, you and WeCoOwn agree that all matters relating to your
            access to, or use of, this Site shall be governed by the statutes and laws of the State of California,
            without regard to the conflicts of laws principles thereof.</p>
        <h4>General</h4>
        <p> The Terms of Use and other rules, guidelines, licenses, and disclaimers posted on the Site constitute the
            entire agreement between WeCoOwn and you with respect to your use of the Site. If for any reason a court of
            competent jurisdiction finds any provision of the Terms of Use, or portion thereof, to be unenforceable,
            that provision shall be enforced to the maximum extent permissible so as to effect the intent of the parties
            as reflected by that provision, and the remainder of the Terms of Use shall continue in full force and
            effect. Any failure by WeCoOwn to enforce or exercise any provision of the Terms of Use or related right
            shall not constitute a waiver of that right or provision. The section titles used in the Terms of Use are
            purely for convenience and carry with them no legal or contractual effect.</p>
    </section>
</div>