<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>{{'Forgot Username' | translateString | async}}</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{'Home' | translateString | async}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'Forgot Username' | translateString | async}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="text-color-blue rowPadding" id="firstDiv">
    <section class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>           
                <div class="alert alert-success firstForget-success dispNone"></div>
                <div class="alert alert-danger firstForget-danger dispNone"></div>
                <form class="" [formGroup]="firstForgetForm" (ngSubmit)="submitFirst()" id="simpleForm">
                    <div class="form-group">
                        <label>{{'Email Address' | translateString | async}} : </label><br>
                        <input class="form-control CheckForm" type="text" placeholder="{{'Email Address' | translateString | async}}" formControlName="email"
                            id="email"  >
                    </div>                   
                    <div class="">
                        <button class="btn btn-primary"  type="submit">{{'Submit' | translateString | async}}</button>
                        <!-- <button class="btn btn-primary float-right dispNone" id="afterLogin" type="button" onclick="window.location.href='/login'">Login</button> -->
                    </div>
                </form>
            </div>           
        </div>
    </section>
    <br>
</div>