<!-- Loader -->
<div class="loader-overlay" *ngIf="loading">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="30" />
            </svg>
        </div>
    </div>
</div>
<!-- ./Loader -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>{{'Book Property' | translateString | async}}</h1>
        </div>
        <div class="col-md-6 page-tittle">
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{'Home' | translateString | async}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{'Book Property' | translateString | async}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="page rowPadding">
    <section class="">
        <p>&nbsp;</p>
        <div class="row alreadymembership display-none">
            <div class="col-md-12 about-portfolio" *ngIf="getAllReuestForBookedProperty.length != 0">
                <div class="showRequestForBook" *ngFor="let item of getAllReuestForBookedProperty">
                    <h4 class="margin-bottom-0"><img alt="Image is loading" class="border-radious50 marginRight5"
                            src="{{ item.user_id.profile_pic.length != 0 ? (baseURLofAPi+item.user_id.profile_pic[0].src) : '../../../assets/images/user1.png' }}"
                            width="40px" height="40px"> {{item.user_id.firstname}} {{item.user_id.lastname}} {{'wants to
                            book property from' | translateString | async}} {{item.start_date | date : "dd/MM/yyyy"}} {{'to' | translateString | async}} {{item.end_date | date :
                        "dd/MM/yyyy"}}. {{'Please accept or reject request.' | translateString | async}}
                        <button class="btn btn-primary marginRight5"
                            (click)="setResponseOfMemberBookPropertyReq(item._id,'accept')">{{'Accept' | translateString | async}}</button>
                        <button class="btn btn-primary"
                            (click)="setResponseOfMemberBookPropertyReq(item._id,'reject')">{{'Reject' | translateString | async}}</button>
                    </h4>
                    <h4 class="margin-bottom-0">{{'Notes' | translateString | async}}</h4>
                    <p class="margin-bottom-0 intro-brakr-spaces colorBlack">
                        {{item.booking_notes}}
                    </p>
                </div>
            </div>
            <form class="ModalCloseClick col-md-5" [formGroup]="createBookPropertyForm"
                (ngSubmit)="submitBookPropertyForm()">
                <div class="">
                    <input type="text" class="property_head" readonly>
                    <div class="alert alert-success dispNone booksuccess"></div>
                    <div class="alert alert-danger dispNone bookdanger"></div>
                    <h4>{{'Book Property' | translateString | async}} : {{bookPropertyTitle}}</h4>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>{{'Purpose' | translateString | async}} : <span class="red">*</span></label>
                            <input class="form-control" placeholder="{{'Purpose' | translateString | async}}" formControlName="purpose" id="purpose">
                        </div>
                        <div class="form-group col-md-12">
                            <label>{{'Start Date & Time' | translateString | async}} : <span class="red">*</span></label>
                            <input class="form-control" type="datetime-local" data-date-format="dd-MM-yyyy"
                                formControlName="start_date" id="start_date">
                        </div>
                        <div class="form-group col-md-12">
                            <label>{{'End Date & Time' | translateString | async}}: <span class="red">*</span></label>
                            <input class="form-control" type="datetime-local" data-date-format="dd-MM-yyyy"
                                formControlName="end_date" id="end_date">
                        </div>
                        <div class="form-group col-md-12">
                            <label>{{'Number of Persons' | translateString | async}} : </label>
                            <input class="form-control" type="text" formControlName="number_of_persons"
                                id="number_of_persons" placeholder="{{'Number of Persons' | translateString | async}}"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                        <div class="form-group col-md-12">
                            <label>{{'Booking Notes' | translateString | async}} : <span class="red">*</span></label>
                            <textarea class="form-control" rows="4" type="text" formControlName="booking_notes"
                                id="booking_notes" placeholder="{{'Booking Notes' | translateString | async}}"></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="chengePassSubmitForm" class="btn btn-primary marginRight5"
                        type="submit">{{'Submit' | translateString | async}}</button>
                    <button type="button" id="chengePassSubmitForm" class="btn btn-primary" type="submit"
                        routerLink="/pbms-actions">{{'Cancel' | translateString | async}}</button>
                    <p>&nbsp;</p>
                </div>
                <p class="margin-bottom-0">&nbsp;</p>
            </form>
            <div class="col-md-7">
                <div>
                    <span class="orangeColor">● {{'Booked' | translateString | async}}</span>
                </div>
                <!-- <full-calendar #calenderBook [options]="calendarOptions"></full-calendar> -->
                <full-calendar *ngIf="options" #fullcalendar [events]="AllBookingDates" [header]="options.header"
                    [customButtons]="options.customButtons" [plugins]="options.plugins"
                    [columnHeaderHtml]="options.columnHeaderHtml"></full-calendar>
            </div>
            <div class="col-md-12">
                <h3>{{'Activity History' | translateString | async}} :</h3>
                <div id="all-ads-table" class="table-responsive" style="color: black;">
                    <table datatable class="table table-bordered table-hover table-striped" style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>{{'S.No.' | translateString | async}}</th>
                                <th>{{'Booked By' | translateString | async}}</th>
                                <th>{{'Purpose' | translateString | async}}</th>
                                <th>{{'From - To' | translateString | async}} ({{'Date & Time' | translateString | async}})</th>
                                <th>{{'Number of Persons' | translateString | async}}</th>
                                <th>{{'Booking Notes' | translateString | async}}</th>
                                <th>{{'Action' | translateString | async}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of getBookedPropertyDataById; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.user_id.firstname}} {{item.user_id.lastname}}</td>
                                <td>{{item.purpose}}</td>
                                <td>{{item.start_date | date : "MM/dd/yyyy (hh:mm a)": 'UTC'}} - {{item.end_date | date :
                                    "MM/dd/yyyy (hh:mm a)": 'UTC'}}</td>
                                <td>{{item.number_of_persons}}</td>
                                <td class="showTextAsWrite">{{item.booking_notes}}</td>
                                <td>
                                    <button *ngIf="getCurrentUser == item.user_id._id" type="button" class="btn btn-orange marginBottom5 marginRight5"
                                        (click)="updatebookingProperty(item._id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button
                                        *ngIf="getCurrentUser == item.user_id._id && checkStartDate(item.start_date)"
                                        type="button" data-toggle="modal" data-target="#cancel-confirm-booking-modal"
                                        class="btn btn-primary marginBottom5" (click)="SaveCancelBookingId(item._id)">{{'Cancel
                                        Booking' | translateString | async}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row notAlreadymembership display-none">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>{{'In order to create a New Co-Owned Property or become Admin of a New Co-Owned Property you
                    must purchase the membership. Please
                    purchase the membership.' | translateString | async}}</p>
            </div>
        </div>
        <p>&nbsp;</p>
    </section>
</div>

<!-- The Modal -->
<div class="modal" id="cancel-confirm-booking-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{'Cancel Booking' | translateString | async}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="alert alert-success dispNone cancelBookSuccess"></div>
            <div class="alert alert-danger dispNone cancelBookdanger"></div>
            <div class="modal-body">
                {{'Are you sure you want to cancel this booking?' | translateString | async}}
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-orange" (click)="confirmCancelBooking()">{{'Yes' | translateString | async}}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{'No' | translateString | async}}</button>
            </div>
        </div>
    </div>
</div>