.form-group input.ng-invalid.ng-touched,
.form-group input.ng-invalid:focus,
.form-group select.ng-invalid.ng-touched,
.form-group textarea.ng-invalid.ng-touched,
.form-submit input.ng-invalid,
.form-submit select.ng-invalid,
.form-submit textarea.ng-invalid {
  border-color: #ff4c6a;
}

.invalid-feedback.form-error {
  display: block;
}

h4 {
  color: #0b3655;
}
h3{
    font-size: 24px;
}
strong {
  color: #0b3655;
}

.navdis>li>button {
  border: none;
  margin: 0px 3px;
}

.peroperty-fatcs {
  padding: 20px 10px;
  border-radius: 5px;
  margin: 0px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0;
}

/* for property image */
.textareaDes {
  height: 210px;
}

.dropzone {
  width: 100%;
  height: 250px;
  padding: 1rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.dropzone input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dropzone button {
  color: white;
  width: 183px;
  height: 44px;
  border: none;
  border-radius: 21px;
  background-color: rgba(255, 0, 0, 0.637);
  padding: 8px 16px;
}

.dropzone h5 {
  color: white;
  width: 183px;
  height: 44px;
  border-radius: 21px;
  background-color: rgba(255, 0, 0, 0.637);
  padding: 8px 16px;
}

.single-files {
  padding: 10px;
}

.files-list {
  padding: 0;
}
/* end property photos */

.height125{
  height: 125px;
}
td{
  padding: 10px;
  padding-left: 0 !important;
}
th{
  padding: 10px;
  padding-left: 0 !important;
}
td button{
  margin-bottom: 20px;
}
.display-none{
  display: none;
}