<!-- middle section -->
<!-- Loader -->
<div class="loader-overlay" *ngIf="loading">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="30" />
            </svg>
        </div>
    </div>
</div>
<!-- ./Loader -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>I am a Buyer</h1>
        </div>
        <div class="col-md-6 page-tittle">
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">I am a Buyer</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="rowPadding">
    <section class="entry-content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div id="msform" [formGroup]="buyerForm">
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>1</strong></li>
                        <li id="personal"><strong>2</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <fieldset id="starting_fieldset">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="steps">Step 1 of 2</h2>
                                </div>
                            </div>
                            <label class="checkContainer">Upload a property I have in mind already to find potential
                                co-owners.
                                <input type="radio" checked="checked" name="radio" id="have_a_property">
                                <span class="checkmark"></span>
                            </label><br><br>
                            <label class="checkContainer">Browse and search for properties listed on WePropertyowners
                                site to post it here to find co-owners.
                                <input type="radio" name="radio" id="i_like_search">
                                <span class="checkmark"></span>
                            </label>
                            <br>
                        </div>
                        <br><br>
                        <div class="">
                            <p class="red" style="font-style: italic;color: #ff0000b0!important;text-align:left;">
                                *Properties include real estate, land, yachts, planes, cars, horses, artworks, fashion
                                clothing, jewelry, antiques, sports collectibles, wine, crops, minerals, commodities,
                                intellectual property rights, crypto assets, etc.</p>
                        </div>
                        <input type="button" id="" class="btn btn-primary  float-left" value="Back to Home"
                            onclick="window.location.href='/'" />
                        <input type="button" id="" class="next  btn btn-orange float-right" value="Next" />
                    </fieldset>
                    <form [formGroup]="buyerForm" (ngSubmit)="submitBuyerForm()" enctype="multipart/form-data">
                        <fieldset id="first_form_card">
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="steps">Step 2 of 2</h2>
                                    </div>
                                </div>
                                <p>Please fill in the details your property</p>
                                <input type="text" class="property_head" readonly>
                                <div class="alert alert-success BuyerSuccess dispNone"></div>
                                <div class="alert alert-danger BuyerDanger dispNone"></div>
                                <div class="form-group">
                                    <label>Category:<span class="red">*</span></label>
                                    <select class="form-control col-md-9 float-right" id="category-create-post"
                                        formControlName="category" [(ngModel)]="category">
                                        <option value="">Select Category</option>
                                        <option *ngFor="let categoryAll of categoryArray"
                                            value="{{categoryAll.category_name}}">{{categoryAll.category_name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Title:<span class="red">*</span></label>
                                    <input class="form-control col-md-9 float-right" placeholder="Title" id="title"
                                         formControlName="title">
                                </div>    
                                <div class="form-group">
                                    <label>Country:<span class="red">*</span></label>
                                    <select class="form-control col-md-9 float-right" id="country-select"
                                        formControlName="country" (change)="changeCoutry($event.target.value)">
                                        <option value="">All Countries</option>
                                        <option *ngFor="let task of getAllCountry" value="{{task.code}}">
                                            {{task.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>State:<span class="red">*</span></label>
                                    <select class="form-control col-md-9 float-right" id="state-select"
                                        formControlName="state" (change)="changeState($event.target.value)">
                                        <option value="">All States</option>
                                        <option *ngFor="let task of getAllStates" value="{{task.country+'-'+task.isoCode}}">
                                            {{task.region}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>City:<span class="red">*</span></label>
                                    <select class="form-control col-md-9 float-right" id="city-select"
                                        formControlName="city">
                                        <option value="">All Cities</option>
                                        <option *ngFor="let task of getAllCities" value="{{task.city}}">
                                            {{task.city}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Property Description:<span class="red">*</span></label>
                                    <textarea class="form-control col-md-9 float-right" id="property_desciption"
                                        placeholder="Property Description" rows="5"
                                        formControlName="property_desciption"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>URL of Property (if any):</label>
                                    <input class="form-control col-md-9 float-right" placeholder="" id="url_property"
                                        placeholder="URL of Property (if any)" formControlName="url_property">
                                </div>
                                <div class="form-group">
                                    <label>Document (Only PDF file):</label>
                                    <input type="file" class="form-control col-md-9 float-right"
                                        accept="application/pdf" id="doc_pdf_file"
                                        (change)="PdfFileDropped($event.target.files)" single title="">
                                </div>
                                <div class="form-group">
                                    <label>Status:</label>
                                    <div class='col-md-9 float-right'>
                                        <label class="checkContainer">Public
                                            <input type="radio" checked="checked" name="radio" id="status-public">
                                            <span class="checkmark"></span>&nbsp;&nbsp;
                                        </label>
                                        <label class="checkContainer">Cohorts
                                            <input type="radio" name="radio" id="status-cohorts">
                                            <span class="checkmark"></span>&nbsp;&nbsp;
                                        </label>
                                        <label class="checkContainer">Private
                                            <input type="radio" name="radio" id="status-private">
                                            <span class="checkmark"></span>&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Property Photos/Videos:<span class="red">*</span></label>
                                    <div class="dropzone form-control col-md-9 float-right" id="fullImageBox">
                                        <input type="file" #fileDropRef id="fileDropRef"
                                            formControlName="property_photos"
                                            (change)="onFileDropped($event.target.files)" style="float: right;" multiple
                                            accept="image/png,image/jpeg,image/jpg,video/mp4,video/mov,video/webm,">
                                        <img alt="Image is loading" src="../../../assets/images/upload1.png"
                                            width="50px">
                                        <p>Drag and drop files here</p>
                                        <p>Or</p>
                                        <button for="fileDropRef">Browse for files</button>
                                        <p class="onlyImgVideoRed marginBottom0">(Only Images in jpg/jpeg/png & Videos
                                            in mp4/mov/webm.)</p>
                                        <p class="onlyImgVideoRed marginBottom0">(Minimum size of image / video should
                                            be 700 x 400 Pixel.)</p>
                                    </div>
                                    <!-- <div class="form-control col-md-9 float-right files-list">
                                        <div class="single-files disFlex" *ngFor='let file of files; let i = index'>
                                            <img alt="Image is loading" src="../../../assets/images/saveFile.png" width="45px">&nbsp;
                                            <div class="info">
                                                <p class="name">{{ file?.name}}</p>
                                            </div>
                                            <div class="float-right">
                                                &nbsp;<img alt="Image is loading" src="../../../assets/images/delteFile1.png" width="20px"
                                                    (click)="delteFile(i)">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="form-control col-md-9 float-right files-list">
                                        <p *ngIf="files.length > 0">&nbsp;&nbsp;Please check on 1 checkbox to be make
                                            photo as a cover photo:<br></p>
                                        <div class="single-files disFlex" *ngFor='let file of files; let i = index'>
                                            <input type="checkbox" name="cover" class="MakeCoverPhotoPost" value="{{i}}"
                                                (click)="getCheckedValCo()" />
                                            <img alt="Image is loading" src="../../../assets/images/saveFile.png"
                                                width="45px">&nbsp;
                                            <div class="info">
                                                <p class="name">{{ file?.name}}</p>
                                            </div>
                                            <div class="float-right">
                                                &nbsp;<img alt="Image is loading"
                                                    src="../../../assets/images/delteFile1.png" width="20px"
                                                    (click)="delteFile(i)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="button" id="first_previous" class="float-left previous btn btn-primary"
                                    value="Previous" />
                                <input type="submit" id="" class="btn btn-orange float-right" value="Submit" />
                            </div>
                        </fieldset>
                    </form>
                    <fieldset id="second_form_card">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="steps">Step 2 of 2</h2>
                                </div>
                            </div>
                            <br>
                            <h5 class="sec-go-register">In order to search for available properties please register
                                yourself.</h5>
                            <h5 class="sec-go-home" style="display: none;">Search for listed properties on
                                WePropertyowners.</h5>
                            <br>
                        </div>
                        <input type="button" id="" onclick="window.location.href='/register'"
                            class="next float-right btn btn-orange sec-go-register" value="Register" />
                        <input type="button" id=""
                            onclick="window.open('https://wepropertyowners.com/all-listing?purpose=For%20Sale&purpose=For%20Sale'), '_blank'"
                            style="display: none;" class="float-right btn btn-orange sec-go-home"
                            value="See Sale Listings on WePo" />
                        <input type="button" id="second_previous" class="float-left previous  btn btn-primary"
                            value="Previous" />
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Sign Up Your User Account</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform">
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Personal</strong></li>
                        <li id="payment"><strong>Image</strong></li>
                        <li id="confirm"><strong>Finish</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> 
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Account Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div> <label class="fieldlabels">Email: *</label> <input type="email" name="email" placeholder="Email Id" /> <label class="fieldlabels">Username: *</label> <input type="text" name="uname" placeholder="UserName" /> <label class="fieldlabels">Password: *</label> <input type="password" name="pwd" placeholder="Password" /> <label class="fieldlabels">Confirm Password: *</label> <input type="password" name="cpwd" placeholder="Confirm Password" />
                        </div> <input type="button" name="next" class="next " value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            </div> <label class="fieldlabels">First Name: *</label> <input type="text" name="fname" placeholder="First Name" /> <label class="fieldlabels">Last Name: *</label> <input type="text" name="lname" placeholder="Last Name" /> <label class="fieldlabels">Contact No.: *</label> <input type="text" name="phno" placeholder="Contact No." /> <label class="fieldlabels">Alternate Contact No.: *</label> <input type="text" name="phno_2" placeholder="Alternate Contact No." />
                        </div> <input type="button" name="next" class="next " value="Next" /> <input type="button" name="previous" class="previous " value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Image Upload:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                        </div> <input type="button" name="next" class="next " value="Submit" /> <input type="button" name="previous" class="previous " value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img alt="Image is loading" src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> -->