<!-- ks -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="../assets/css/style.css">  -->
<!-- Owl Stylesheets -->
<!-- <link rel="stylesheet" href="../assets/css/owl.carousel.min.css"> -->
<!-- <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css"> -->


<div class="masthead inline-header" role="banner">
  <div class="top-bar bg-back-blue top-bar-line-hide">
    <div class="top-bar-bg"></div>
    <section class="section-header">
      <div id="mySidenav" class="sidenav" style="display: none;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <button onclick="window.location.href='/'">Home</button>
        <button class="dispNone" id="EditButtonShow" onclick="window.location.href='/user-profile'">My Postings</button>
        <button class="dispNone" id="settingButtonShow" onclick="window.location.href='/profile'">Profile
          Settings</button>
        <button>About Us</button>
        <button
          onclick="window.open('https://medium.com/wecoown/welcome-to-the-wecoown-platform-to-meet-other-like-minded-potential-co-owners-12f0d40f2d49'), '_blank'">Blog</button>
        <div class="panel">
          <a href="/contact-us">Contact Us</a>
          <a href="/privacy-policy">Privacy Policy</a>
          <a href="/terms-conditions">Terms &amp; Conditions</a>
        </div>
        <button class="accordion">How It Works</button>
        <div class="panel">
          <a href="/our-services">Our Services</a>
          <a href="/membership">Membership</a>
        </div>
        <button>Vendor Resources</button>
        <button class="accordion">Search on WePropertyowners</button>
        <div class="panel">
          <a href="">Real Estate MLS</a>
          <a href="">Yacht MLS</a>
        </div>     
        <!-- <div class="panel">
          <a href="">Insurance Quotes</a>
        </div> -->
        <button onclick="window.location.href='/contact-us'">WeCoOwn Community Blog</button>
        <button onclick="window.location.href='/login'" class="dashboardNoneLog" id="login1">Login</button>
        <button onclick="window.location.href='/register'" class="dashboardNoneLog" id="register1">Register</button>
        <!-- <button onclick="window.location.href='/dashboard'" class="dispNone" id="dashboard1">Dashboard</button> -->
        <!-- <button class="dispNone" id="profileMobileView"><img src="../assets/images/user1.png" style="width: 40px; height: 28px; border-radius: 50%;"></button> -->
        <div class="panel">
          <a href="/user-profile">My Postings</a>
          <a href="/" (click)="signOut()">Sign Out</a>
        </div>
        <button class="accordion">Real Estate</button>
        <div class="panel">
          <a href="/category-by-name/Apartment%20Buildings">Apartment Buildings</a>
          <a href="/category-by-name/Estate%20Homes%20&%20Mansions">Estate Homes and Luxury Mansions</a>
          <a href="/category-by-name/Single%20Family%20Homes%20&%20Condos">Single Family Homes & Condos</a>
          <a href="/category-by-name/Vacation%20Homes%20&%20Timeshares">Vacation Homes & Timeshares</a>
          <a href="/category-by-name/Mobile%20Homes%20&%20RV%20Parks">Mobile Homes & RV Parks</a>
          <a href="/category-by-name/Castles%20&%20Chateaux">Castles & Chateaux</a>
          <a href="/category-by-name/Churches%20&%20Temples">Churches & Temples</a>
          <a href="/category-by-name/Office%20Builings">Office Buildings</a>
          <a href="/category-by-name/Private%20Islands">Private Islands</a>
          <a href="/category-by-name/Villages%20&%20Towns">Villages & Towns</a>
          <a href="/category-by-name/Land%20Parcels">Land Parcels</a>
          <a href="/category-by-name/Retail%20Shopping%20Malls">Retail Shopping Malls</a>
          <a href="/category-by-name/Industrial%20Plants%20&%20Warehouses">Industrial Plants & Warehouses</a>
        </div>
        <button class="accordion">Business Properties</button>
        <div class="panel">
          <a href="/category-by-name/Hotels%20&%20Golf%20Resorts">Hotels & Golf Resorts</a>
          <a href="/category-by-name/Motels,%20Hostels%20&%20B&Bs">Motels, Hostels & B&Bs</a>
          <a href="/category-by-name/Restaurants,%20Bars%20&%20Clubs">Restaurants, Bars & Clubs</a>
          <a href="/category-by-name/Ranches%20and%20Farms">Ranches & Farms</a>
          <a href="/category-by-name/Wineries%20&%20Vineyards">Wineries &amp; Vineyards</a>
          <a href="/category-by-name/Gas%20Stations%20&%20C%20Stores">Gas Stations & C Stores</a>
          <a href="/category-by-name/Car%20Wash%20Facilities">Car Wash Facilities</a>
          <a href="/category-by-name/Assisted%20Living%20&%20Nursing%20Homes">Assisted Living & Nursing Homes</a>
          <a href="/category-by-name/Rehab%20Centers">Rehab Centers</a>
          <a href="/category-by-name/Parking%20Lots">Parking Lots</a>
          <a href="/category-by-name/Camp%20Grounds">Camp Grounds</a>
          <a href="/category-by-name/Equestrian%20Centers">Equestrian Centers</a>
          <a href="/category-by-name/Marinas">Marinas</a>
        </div>
        <button class="accordion">Yachts & Ships</button>
        <div class="panel">
          <a href="/category-by-name/Super%20Yachts">Super Yachts</a>
          <a href="/category-by-name/Sail%20Boats">Sail Boats</a>
          <a href="/category-by-name/Fishing%20Boats">Fishing Boats</a>
          <a href="/category-by-name/Speed%20Boats">Speed Boats</a>
          <a href="/category-by-name/Power%20Yachts">Power Yachts</a>
          <a href="/category-by-name/Catamarans">Catamarans</a>
          <a href="/category-by-name/Submarines">Submarines</a>
          <a href="/category-by-name/Hydroplanes">Hydroplanes</a>
          <a href="/category-by-name/Commercial%20Ships">Commercial Ships</a>
        </div>
        <button class="accordion">Jets & Aircraft</button>
        <div class="panel">
          <a href="/category-by-name/Jets%20&%20Planes">Jets</a>
          <a href="/category-by-name/Turboprop%20Aircraft">Turboprop Aircraft</a>
          <a href="/category-by-name/Piston%20Aircraft">Piston Aircraft</a>
          <a href="/category-by-name/Helicopters">Helicopters</a>
          <a href="/category-by-name/Passenger%20Drones">Passenger Drones</a>
          <a href="/category-by-name/Flying%20Cars">Flying Cars</a>
        </div>
        <button class="accordion">Cars & RVs</button>
        <div class="panel">
          <a href="/category-by-name/Luxury%20Cars%20&%20RVs">Luxury Cars & SUVs</a>
          <a href="/category-by-name/Commuter%20Cars">Commuter Cars & SUVs</a>
          <a href="/category-by-name/Campers%20&%20RVs">Campers & RVs</a>
          <a href="/category-by-name/Commercial%20Buses">Commercial Buses</a>
          <a href="/category-by-name/EVs%20&%20Hybrids">EVs & Hybrids</a>
          <a href="/category-by-name/Trucks">Trucks</a>
          <a href="/category-by-name/Vans%20&%20Limos">Vans & Limos</a>
        </div>
        <button class="accordion">Artworks & Antiques</button>
        <div class="panel">
          <a href="/category-by-name/Western%20Paintings">Western Paintings</a>
          <a href="/category-by-name/Oriental%20Paintings">Oriental Paintings</a>
          <a href="/category-by-name/Sculptures">Sculptures</a>
          <a href="/category-by-name/Contemporary%20Artworks">Contemporary Artworks</a>
          <a href="/category-by-name/Modern%20Artworks">Modern Artworks</a>
          <a href="/category-by-name/Digital%20Artworks">Digital Artworks</a>
          <a href="/category-by-name/Antiques">Antiques</a>
          <a href="/category-by-name/Collectibles">Collectibles</a>
        </div>
        <button class="accordion">Horses & Live Stocks</button>
        <div class="panel">
          <a href="/category-by-name/Race%20Horses">Race Horses</a>
          <a href="/category-by-name/Draft%20Horses">Draft Horses</a>
          <a href="/category-by-name/Show%20Horses">Show Horses</a>
          <a href="/category-by-name/Cattle">Cattle</a>
          <a href="/category-by-name/Sheep">Sheep</a>
          <a href="/category-by-name/Other%20Live%20Stocks">Other Live Stocks</a>
        </div>
        <button class="accordion">Tokenized Crypto-Assets</button>
        <div class="panel">
          <a href="/category-by-name/Real%20Estate%20Based%20Asset%20Tokens">Real Estate Based Asset Tokens</a>
          <a href="/category-by-name/Commodity%20Based%20Asset%20Tokens">Commodity Based Asset Tokens</a>
          <a href="/category-by-name/Utility%20Tokens">Utility Tokens</a>
          <a href="/category-by-name/NFTs">NFTs</a>
        </div>
        <button class="accordion">Others</button>
        <div class="panel">
          <a href="/category-by-name/Others">Others</a>
        </div>
        <button class="dispNone" id="SignoutButtonShow" (click)="signOut();">SignOut</button>
      </div>

      <div class="row ColorWhite">
        <!-- <div class="col-md-2 disFlex"> -->
        <!-- City name link -->
        <div id="loc_city_link" class="toggle_handler primary_location col-md-2" data-location="location_aslink">
          <span class="" id="SpanMenu" style="display: none;" (click)="openNav($event)">&#9776; Menu</span>
          <span class="marginLeftLoc">
            <i class="fa fa-map-marker"></i>&nbsp;
            <a id="directorytab" class="ColorWhite" href="#">Location
              <i class="fa fa-angle-down"></i>
            </a>
          </span>
        </div>
        <div class="col-md-3">
          <input type="text" id="search-input-bar" (keyup)="onSearch($event)" class="search-input"
            placeholder="Search Members"><i class="fa fa-search forSearch"></i>
          <ul class="all-search-list">
            <div *ngFor="let item of getSearchMember">
              <li (click)="goToMemberPage(item._id)">
                <a href="javascript:void(0);">
                  <img alt="Image is loading" src="{{ item.profile_pic.length != 0 ? (baseURLofAPi+item.profile_pic[0].src) : '../assets/images/user1.png' }}"
                    width="30px">
                </a>&nbsp;
                <a class="link-blue" href="javascript:void(0);">{{item.firstname}} {{item.lastname}}</a></li>
            </div>
            <div id="no-search-result" style="display: none;">
              <li>
                <a href="javascript:void(0);">No Result Found</a>
              </li>
            </div>
          </ul>
        </div>

        <!-- Primary Navigation Menu Start -->
        <div id="menu-primary" class="menu-container fb-iconL col-md-7">
          <nav role="navigation" class="wrap float-right">
            <!-- #menu-primary-title -->
            <div class="menu">
              <ul id="menu-primary-items" class="primary_menu clearfix">
                <li class="dropdown">
                  <a href="/" aria-current="page" class="">Home</a>
                </li>
                <li class="dropdown">
                  <a href="" class="">About Us</a>
                  <div class="dropdown-content font-weight-bold">
                    <a href="/contact-us">Contact Us</a>
                    <a href="/privacy-policy">Privacy Policy</a>
                    <a href="/terms-conditions">Terms &amp; Conditions</a>
                  </div>
                </li>
                <li>
                  <a href="https://medium.com/wecoown/welcome-to-the-wecoown-platform-to-meet-other-like-minded-potential-co-owners-12f0d40f2d49"
                    target="_blank">Blog</a>
                </li>
                <li class="dropdown">
                  <a href="" class="">How It Works</a>
                  <div class="dropdown-content font-weight-bold">
                    <a href="/our-services">Our Services</a>
                    <a href="/membership">Membership</a>
                  </div>
                </li>
                <!-- <li class="dropdown">
                    <a href="" class="">Managing
                      Co-ownership</a>
                    <div class="dropdown-content font-weight-bold">
                      <a href="">Farjho</a>
                      <a href="">Farjao</a>
                    </div>
                  </li> -->
                <li class="dropdown">
                  <a href="" class="">Vendor Resources</a>
                  <!-- <div class="dropdown-content font-weight-bold">
                    <a href="">Insurance Quotes</a>
                  </div> -->
                </li>
                <li class="dropdown">
                  <a href="" class="">Search on WePropertyowners</a>
                  <div class="dropdown-content font-weight-bold">
                    <a href="">Real Estate MLS</a>
                    <a href="">Yacht MLS</a>
                  </div>
                </li>
                <!-- <li class="dropdown">
                    <a href="" class="">Submit
                      Co-ownership Request</a>
                    <div class="dropdown-content font-weight-bold">
                      <a href="">Submit Postings for
                        Artworks</a>
                      <a href="">Submit Postings for Race
                        Horses</a>
                      <a href="">Submit Postings for
                        Luxury Cars &amp; RVs</a>
                      <a href="">Submit Postings for Jets
                        &amp; Planes</a>
                      <a href="">Submit Postings for
                        Yachts &amp; Boats</a>
                      <a href="">Submit
                        Postings for Real Estate Properties</a>
                      <a href="">Submit Classified</a>
                      <a href="">Submit Deals</a>
                      <a href="">Submit Event</a>
                    </div>
                  </li> -->
                <li class="dashboardNoneLog" id="login2"><a data-reveal-id="" href="/login">Login</a></li>
                <li class="dashboardNoneLog" id="register2"><a data-reveal-id="" href="/register">Register</a></li>
                <li class="dropdown" style="display: none;padding: 3px;background: transparent" id="userProfileImg">
                  <img alt="Image is loading" src="{{ imgageOfUser != '' ? baseURLofAPi+imgageOfUser : '../assets/images/user44.png' }}"
                    style="width: 40px; height: 28px; border-radius: 50%;">
                  <div class="dropdown-content font-weight-bold">
                    <a href="/user-profile">My Postings</a>
                    <a href="/profile">Profile Settings</a>
                    <a href="/chat-message">Messages</a>
                    <div class="dropdown submenu-technical">
                      <a class="dropdown-toggle" data-toggle="dropdown" id="ads-of-sub">Advertisement
                        &nbsp;<i class="fa fa-caret-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                      <div class="dropdown-content12 font-weight-bold">
                        <a href="/create-ads">Create Ads</a>
                        <a href="/manage-ads">Manage Ads</a>
                      </div>
                    </div>
                    <a href="/" (click)="signOut()">Sign Out</a>
                  </div>
                </li>
                <!-- <li class="dispNone" id="dashboard2"><a href="/dashboard">Dashboard</a></li> -->
                <!-- <li class="dropdown" style="display: none;padding: 3px;background: transparent" id="userProfileImg">
                  <img src="{{ imgageOfUser != '' ? imgageOfUser : '../assets/images/user44.png' }}"
                    style="width: 40px; height: 28px; border-radius: 50%;">
                  <div class="dropdown-content font-weight-bold">
                    <a href="/user-profile">My Postings</a>
                    <a href="/profile">Profile Settings</a>            
                    <a href="/chat-message">Messages</a>
                    <a href="/" (click)="signOut()">Sign Out</a>
                  </div>
                </li> -->

              </ul>
            </div>
          </nav>
        </div>

        <!-- Primary Navigation Menu End -->
      </div>
    </section>
  </div>

  <div id="allow_notify">Please allow browser notification to get notified</div>

  <header class="header-bar">
    <nav class="nav-bar">
      <div class="row">
        <div class="col-md-12 disFlex imgResponsive">
          <a href="/">
            <img alt="Image is loading" src="../assets/images/Original.png" width="110px">
          </a>
          <div class="topnav fb-iconL" id="myTopnav">
            <h5 class="maginTop5">Buyers are looking for co-owners in these properties:</h5>
            <div class="dropdown">
              <button class="dropbtn"><strong>Real Estate</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Apartment%20Buildings">Apartment Buildings</a>
                <a href="/category-by-name/Estate%20Homes%20&%20Mansions">Estate Homes and Luxury Mansions</a>
                <a href="/category-by-name/Single%20Family%20Homes%20&%20Condos">Single Family Homes & Condos</a>
                <a href="/category-by-name/Vacation%20Homes%20&%20Timeshares">Vacation Homes & Timeshares</a>
                <a href="/category-by-name/Mobile%20Homes%20&%20RV%20Parks">Mobile Homes & RV Parks</a>
                <a href="/category-by-name/Castles%20&%20Chateaux">Castles & Chateaux</a>
                <a href="/category-by-name/Churches%20&%20Temples">Churches & Temples</a>
                <a href="/category-by-name/Office%20Builings">Office Buildings</a>
                <a href="/category-by-name/Private%20Islands">Private Islands</a>
                <a href="/category-by-name/Villages%20&%20Towns">Villages & Towns</a>
                <a href="/category-by-name/Land%20Parcels">Land Parcels</a>
                <a href="/category-by-name/Retail%20Shopping%20Malls">Retail Shopping Malls</a>
                <a href="/category-by-name/Industrial%20Plants%20&%20Warehouses">Industrial Plants & Warehouses</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Business Properties</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Hotels%20&%20Golf%20Resorts">Hotels & Golf Resorts</a>
                <a href="/category-by-name/Motels,%20Hostels%20&%20B&Bs">Motels, Hostels & B&Bs</a>
                <a href="/category-by-name/Restaurants,%20Bars%20&%20Clubs">Restaurants, Bars & Clubs</a>
                <a href="/category-by-name/Ranches%20and%20Farms">Ranches & Farms</a>
                <a href="/category-by-name/Wineries%20&%20Vineyards">Wineries &amp; Vineyards</a>
                <a href="/category-by-name/Gas%20Stations%20&%20C%20Stores">Gas Stations & C Stores</a>
                <a href="/category-by-name/Car%20Wash%20Facilities">Car Wash Facilities</a>
                <a href="/category-by-name/Assisted%20Living%20&%20Nursing%20Homes">Assisted Living & Nursing Homes</a>
                <a href="/category-by-name/Rehab%20Centers">Rehab Centers</a>
                <a href="/category-by-name/Parking%20Lots">Parking Lots</a>
                <a href="/category-by-name/Camp%20Grounds">Camp Grounds</a>
                <a href="/category-by-name/Equestrian%20Centers">Equestrian Centers</a>
                <a href="/category-by-name/Marinas">Marinas</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Yachts & Ships</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Super%20Yachts">Super Yachts</a>
                <a href="/category-by-name/Sail%20Boats">Sail Boats</a>
                <a href="/category-by-name/Fishing%20Boats">Fishing Boats</a>
                <a href="/category-by-name/Speed%20Boats">Speed Boats</a>
                <a href="/category-by-name/Power%20Yachts">Power Yachts</a>
                <a href="/category-by-name/Catamarans">Catamarans</a>
                <a href="/category-by-name/Submarines">Submarines</a>
                <a href="/category-by-name/Hydroplanes">Hydroplanes</a>
                <a href="/category-by-name/Commercial%20Ships">Commercial Ships</a>
                <!-- <a href="/category-by-name/Yachts%20&%20Boats">Yachts & Boats</a> -->
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Jets & Aircraft</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Jets%20&%20Planes">Jets</a>
                <a href="/category-by-name/Turboprop%20Aircraft">Turboprop Aircraft</a>
                <a href="/category-by-name/Piston%20Aircraft">Piston Aircraft</a>
                <a href="/category-by-name/Helicopters">Helicopters</a>
                <a href="/category-by-name/Passenger%20Drones">Passenger Drones</a>
                <a href="/category-by-name/Flying%20Cars">Flying Cars</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Cars & RVs</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Luxury%20Cars%20&%20RVs">Luxury Cars & SUVs</a>
                <a href="/category-by-name/Commuter%20Cars">Commuter Cars & SUVs</a>
                <a href="/category-by-name/Campers%20&%20RVs">Campers & RVs</a>
                <a href="/category-by-name/Commercial%20Buses">Commercial Buses</a>
                <a href="/category-by-name/EVs%20&%20Hybrids">EVs & Hybrids</a>
                <a href="/category-by-name/Trucks">Trucks</a>
                <a href="/category-by-name/Vans%20&%20Limos">Vans & Limos</a>
                <!-- <a href="/category-by-name/Shared%20Vehicles">Shared Vehicles</a> -->
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Artworks & Antiques</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Western%20Paintings">Western Paintings</a>
                <a href="/category-by-name/Oriental%20Paintings">Oriental Paintings</a>
                <a href="/category-by-name/Sculptures">Sculptures</a>
                <a href="/category-by-name/Contemporary%20Artworks">Contemporary Artworks</a>
                <a href="/category-by-name/Modern%20Artworks">Modern Artworks</a>
                <a href="/category-by-name/Digital%20Artworks">Digital Artworks</a>
                <a href="/category-by-name/Antiques">Antiques</a>
                <a href="/category-by-name/Collectibles">Collectibles</a>
                <!-- <a href="/category-by-name/Arts%20&%20Antiques">Arts & Antiques</a> -->
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Horses & Live Stocks</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <a href="/category-by-name/Race%20Horses">Race Horses</a>
                <a href="/category-by-name/Draft%20Horses">Draft Horses</a>
                <a href="/category-by-name/Show%20Horses">Show Horses</a>
                <a href="/category-by-name/Cattle">Cattle</a>
                <a href="/category-by-name/Sheep">Sheep</a>
                <a href="/category-by-name/Other%20Live%20Stocks">Other Live Stocks</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Tokenized Crypto-Assets</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <!-- <a href="/category-by-name/Tokenized%20Ownership%20&%20Crypto%20Assets">Tokenized Ownership & Crypto
                  Assets</a> -->
                <a href="/category-by-name/Real%20Estate%20Based%20Asset%20Tokens">Real Estate Based Asset Tokens</a>
                <a href="/category-by-name/Commodity%20Based%20Asset%20Tokens">Commodity Based Asset Tokens</a>
                <a href="/category-by-name/Utility%20Tokens">Utility Tokens</a>
                <a href="/category-by-name/NFTs">NFTs</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn"><strong>Others</strong>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-content font-weight-bold">
                <!-- <a href="/category-by-name/Tokenized%20Ownership%20&%20Crypto%20Assets">Tokenized Ownership & Crypto
                  Assets</a> -->
                <a href="/category-by-name/Others">Others</a>

              </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
<!-- {{baseURLofAPi}} -->
<router-outlet></router-outlet>

<footer class="ColorWhite bg-back-blue">
  <div class="footer-main">
    <div class="container-footer">
      <div class="row">  
        <div class="col-md-3">
          <aside class="ftco-box">
            <h4 class="widget-title">Contact with Us</h4>
            <div class="">
              <ul class="footer-menu spanPaddingLeft">
                <li><i class="fa fa-map-marker"></i>&nbsp;<strong>Address:</strong><br>
                  <p>2901 W Coast Hwy, #200 <br>
                    Newport Beach, CA 92663 USA

                  </p>
                </li>
                <li>
                  <i class="fa fa-phone"></i>&nbsp;
                  <strong>Phone:</strong><br>
                  <p><a class="ColorWhite" href="tel://8884568881">+1-888-456-8881</a></p>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>&nbsp;
                  <strong>Email:</strong><br>
                  <p><a class="ColorWhite" href="mailto:info@wecoown.com">info@wecoown.com</a></p>
                </li>
                <li>
                  <i class="fa fa-clock-o"></i>&nbsp;
                  <strong>Website</strong><br>
                  <p><a class="ColorWhite" href="http://www.wecoown.com/" target="_blank">http://www.wecoown.com</a></p>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-md-6">
          <h4>&nbsp;</h4>
          <a>Sellers, please enter your property listings here:</a>
          <div class="row">
            <div class="col-md-6">
              <aside class="ftco-box aside-course">
                <div class="coursesUlList">         
                  <ul class="footer-menu ">
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot1">&nbsp;Real Estate</a></li>
                    <div id="foot1" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Apartment Buildings</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Estate Homes and Luxury Mansions</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Single Family Homes & Condos</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Vacation Homes & Timeshares</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Mobile Homes & RV Parks</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Castles & Chateaux</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Churches & Temples</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Office Buildings</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Private Islands</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Villages & Towns</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Land Parcels</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Retail Shopping Malls</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Industrial Plants & Warehouses</a><br>
                    </div>
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot2">&nbsp;Business Properties</a></li>
                    <div id="foot2" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Hotels & Golf Resorts</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Motels, Hostels & B&Bs</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Restaurants, Bars & Clubs</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Ranches & Farms</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Wineries &amp; Vineyards</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Gas Stations & C Stores</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Car Wash Facilities</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Assisted Living & Nursing Homes</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Rehab Centers</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Parking Lots</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Camp Grounds</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Equestrian Centers</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Marinas</a><br>
                    </div>
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot3">&nbsp;Yachts & Ships</a></li>
                    <div id="foot3" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Super Yachts</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Sail Boats</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Fishing Boats</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Speed Boats</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Power Yachts</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Catamarans</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Submarines</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Hydroplanes</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Commercial Ships</a><br>
                    </div>
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot4">&nbsp;Jets & Aircraft</a></li>
                    <div id="foot4" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Jets</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Turboprop Aircraft</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Piston Aircraft</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Helicopters</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Passenger Drones</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Flying Cars</a><br>
                    </div>
                    <!-- <li class="dashboardNoneLog" id="login3"><i class="fa fa-angle-right"></i><a class="ColorWhite"
                        href="/login">
                        Login</a> -->
                  </ul>
                </div>
              </aside>
            </div>
            <div class="col-md-6 marignTopMinus15Inmobile">
              <aside class="ftco-box">
                <div class="coursesUlList">          
                  <ul class="footer-menu">
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot5">&nbsp;Cars & RVs</a></li>
                    <div id="foot5" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Luxury Cars & SUVs</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Commuter Cars & SUVs</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Campers & RVs</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Commercial Buses</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">EVs & Hybrids</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Trucks</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Vans & Limos</a><br>
                    </div>
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot6">&nbsp;Artworks & Antiques</a></li>
                    <div id="foot6" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Western Paintings</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Oriental Paintings</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Sculptures</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Contemporary Artworks</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Modern Artworks</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Digital Artworks</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Antiques</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Collectibles</a><br>
                    </div>
    
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot7">&nbsp;Horses & Live Stocks</a></li>
                    <div id="foot7" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Race
                        Horses</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Draft Horses</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Show Horses</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Cattle</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Sheep</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Other Live Stocks</a><br>
                    </div>
    
                    <li class=""><i class="fa fa-plus"></i><a class="ColorWhite" href="/artificial" data-toggle="collapse"
                        data-target="#foot8">&nbsp;Tokenized Crypto-Assets</a></li>
                    <div id="foot8" class="collapse">
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Real Estate Based Asset Tokens</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Commodity Based Asset Tokens</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">Utility Tokens</a><br>
                      <i class="fa fa-angle-right"></i><a class="ColorWhite">NFTs</a><br>
                    </div>
    
                    <!-- <li class="dashboardNoneLog" id="register3"><i class="fa fa-angle-right"></i><a class="ColorWhite"
                        href="/register">
                        Register</a>
                    </li> -->
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <aside id="contact-info-widget-2" class="ftco-box">
            <h4 class="widget-title">Newsletter Subscription</h4>
            <div class="contact-info contact-info-block">
              <p>Please subscribe to our latest news!</p>
              <div class="alert alert-success news-success dispNone"></div>
              <div class="alert alert-danger news-danger dispNone"></div>
              <form [formGroup]="newsSubscribeForm" (ngSubmit)="newsSubscribeSubmit()" id="newsForm">
                <div class="form-group">
                  <input class="form-control CheckFormNews" type="text" placeholder="Name" formControlName="name"
                    id="newsName">
                </div>
                <div class="form-group">
                  <input class="form-control CheckFormNews" type="email" placeholder="Email Address"
                    formControlName="email" id="newsEmail">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" id="NewsformSubmit" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="col-md-3">
        <a href="/">
          <img alt="Image is loading" src="../assets/images/Original.png" width="110px">
        </a>
      </div>
      <div class="col-md-5">

      </div>
      <div class="col-md-4 imgAllRound">
        <a href="https://www.facebook.com/wecoown" target="_blank">
          <span class="fa fa-facebook-f"></span>
          <!-- <img src="../assets/images/fb-white.jpg" width="50px"> -->
        </a>
        <!-- <a>
          <span class="fa fa-google-plus"></span>
        </a> -->
        <a href="https://www.instagram.com/wecoown/" target="_blank">
          <span class="fa fa-instagram"></span>
        </a>
        <a href="https://www.linkedin.com/company/wecoown/" target="_blank">
          <span class="fa fa-linkedin"></span>
        </a>
        <a href="https://twitter.com/WeCoOwn" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
        <a href="https://www.youtube.com/channel/UCOwKKGKaK2DWkiZJi9-CfQA" target="_blank">
          <span class="fa fa-youtube"></span>
        </a>
        <a href="https://medium.com/wecoown" target="_blank">
          <span class="fa fa-medium"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <ul class="disFlex">
          <li style="padding: 15px 0px;"><a class="ColorWhite" href="/terms-conditions">Terms &amp; Conditions</a></li>
          <li class="privacyLi" style="padding: 15px;"><a class="ColorWhite" href="/privacy-policy">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4 ">
        <div class="">© 2020 WeCoOwn, Inc. All rights reserved.
          <a href="http://rachitsoftsol.com/" style="color:#fff!important">&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="cookie-container col-md-6">
  <p>
    We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also
    disclose information about your use of our site with our social media, advertising and analytics partners.
    Additional details are available in our
    <a href="/privacy-policy">privacy policy</a> and <a href="#">cookie policy</a>.
  </p>

  <button class="cookie-btn-accept">
    <i class="fa fa-check"></i>&nbsp;Accept Cookies
  </button>&nbsp;
  <button class="cookie-btn-decline">
    <i class="fa fa-times"></i>&nbsp;Decline Cookies
  </button>
</div>

<!-- js files -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script> -->
<!-- <script src="/assets/js/jquery-migrate-3.0.0.min.js"></script> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js'></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
