
<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>Dashboard</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- <div class="text-color-blue rowPadding">
    <section class="">
        <div class="row">
            <div class="">
                <br><br>
                <h3>Update Profile</h3>
             
              
              
            </div>
        </div>
    </section>
    <br>
</div> -->