<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>I am a Seller</h1>
        </div>
        <div class="col-md-6 page-tittle">
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">I am a Seller</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="rowPadding">
    <section class="entry-content">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form id="msform">
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>1</strong></li>
                        <li id="personal"><strong>2</strong></li>
                        <!-- <li id="payment"><strong>Image</strong></li>
                            <li id="confirm"><strong>Finish</strong></li> -->
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="steps">Step 1 of 2</h2>
                                </div>
                            </div>
                            <label class="checkContainer">I have some Property or asset for free listing ?
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label><br><br>
                              <label class="checkContainer">I like to search what is available ?
                                <input type="radio" name="radio">
                                <span class="checkmark"></span>
                              </label>                                                   
                              <br>
                        </div>
                        <br><br>
                        <div class=" text-justify">
                            <p class="red" style="font-style: italic;">*Properties include real estate, land, yachts, planes, cars, horses, artworks, fashion clothing, jewelry, antiques, collectibles, crops, minerals, commodities, intellectual property rights, crypto assets, etc.</p>
                        </div>
                        <input type="button" name="next" class="btn btn-primary cancel float-left" value="Back to Home" onclick="window.location.href='/'"/> 
                        <input type="button" name="next" class="next action-button btn btn-orange float-right" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="steps">Step 2 of 2</h2>
                                </div>
                            </div>   
                            <!-- <ul class="timeline">
                                <li>
                                    <h5>- Have a Property or asset in mind ? Register </h5>
                                    <p>&nbsp;</p>
                                </li>
                                <li>
                                    <h5>- I like to search what is available ?- Register for search</h5>
                                    <p>&nbsp;</p>
                                </li>
                            </ul>                         -->
                        </div> 
                        <input type="button" name="next" class="next action-button btn btn-orange" value="Next" /> 
                        <input type="button" name="previous" class="float-left previous action-button-previous btn btn-primary" value="Previous" />
                    </fieldset>
                    <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 2 of 2</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img alt="Image is loading" src="../../../assets/images/images22.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">You Have Completed Steps!</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                </form>              
            </div>
        </div>
    </section>
</div>
