<!-- middle section -->
<!-- Loader -->
<div class="loader-overlay" *ngIf="loading">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="30" />
            </svg>
        </div>
    </div>
</div>
<!-- ./Loader -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1 class="createListing">Create Listings</h1>
            <h1 class="updateListing dispNone">Edit Listings</h1>
        </div>
        <div class="col-md-6 page-tittle">
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active createListing" aria-current="page">Create Listings</li>
                    <li class="breadcrumb-item active updateListing dispNone" aria-current="page">Edit Listings</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="text-color-blue rowPadding">
    <section class="">
        <br>
        <h3>Property Type: Artworks & Antiques</h3>
        <h5 class="createListing">Serial Number: AW{{getCurrentSerialNumber}}</h5>
        <h5 class="updateListing dispNone">Serial Number: AW{{Form_Serial_Number}}</h5>
        <br>
        <div class="alert alert-success BuyerSuccess dispNone"></div>
        <div class="alert alert-danger BuyerDanger dispNone"></div>
        <form class="login-form" [formGroup]="createPostingForm" (ngSubmit)="submit()" id="simpleForm">
            <div class="row peroperty-fatcs">
                <div class="col-md-12">
                    <h4>Property Details:</h4>
                </div>
                <div class="col-md-6">
                    <label>Image / Video: <span class="onlyImgVideoRed">(Only Images in jpg/jpeg/png & Videos in
                            mp4/mov/webm)</span><span class="red">*</span></label><br>
                    <div class="form-group">
                        <div class="dropzone form-control float-right" id="fullImageBox">
                            <input type="file" #fileDropRef id="fileDropRef"
                                (change)="onFileDropped($event.target.files)" style="float: right;" single
                                accept="image/png,image/jpeg,image/jpg,video/mp4,video/mov,video/webm," multiple>
                            <img alt="Image is loading" src="../../../assets/images/upload1.png" width="50px">
                            <p>Drag and drop files here</p>
                            <p>Or</p>
                            <button for="fileDropRef">Browse for files</button>
                            <p class="onlyImgVideoRed marginBottom0">(Minimum size of image / video should be 920 x 400
                                Pixel.)</p>
                        </div>
                        <div class="form-control float-right files-list">
                            <div class="single-files disFlex" *ngFor='let file of getPhtosALL; let i = index'>
                                <img alt="Image is loading" src="../../../assets/images/saveFile.png"
                                    width="45px">&nbsp;
                                <div class="info">
                                    <p class="name">{{ file?.orgName}}</p>
                                </div>
                                <div class="float-right">
                                    &nbsp;<img alt="Image is loading" src="../../../assets/images/delteFile1.png"
                                        width="20px" (click)="deltePreviousFile(i)">
                                </div>
                            </div>
                            <div class="single-files disFlex" *ngFor='let file of files; let i = index'>
                                <img alt="Image is loading" src="../../../assets/images/saveFile.png"
                                    width="45px">&nbsp;
                                <div class="info">
                                    <p class="name">{{ file?.name}}</p>
                                </div>
                                <div class="float-right">
                                    &nbsp;<img alt="Image is loading" src="../../../assets/images/delteFile1.png"
                                        width="20px" (click)="delteFile(i)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <label>Document (Only PDF file):</label>
                    <input type="file" class="form-control" accept="application/pdf" id="doc_pdf_file"
                        (change)="PdfFileDropped($event.target.files)" single title="">
                    <div class="single-files disFlex" *ngFor='let file of prevuiousPdf; let i = index'>
                        <img alt="Image is loading" src="../../../assets/images/saveFile.png" width="45px">&nbsp;
                        <div class="info">
                            <p class="name">{{ file?.orgName}}</p>
                        </div>
                        <div class="float-right">
                            &nbsp;<img alt="Image is loading" src="../../../assets/images/delteFile1.png" width="20px"
                                (click)="deletePreviousPdf(i)">
                        </div>
                    </div>
                    <!-- <label>Selling Price: </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Selling Price"
                        [(ngModel)]="selling_price" formControlName="selling_price">                 -->
                </div>
                <div class="form-group col-md-6">
                    <label>Title Name:
                        <!-- <span class="red">*</span> -->
                    </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Title Name" [(ngModel)]="Tittle_Name"
                        formControlName="Tittle_Name">
                    <label>Property Type:
                        <!-- <span class="red">*</span> -->
                    </label><br>
                    <input [(ngModel)]="Artwork_type" readonly formControlName="Artwork_type"
                        class="form-control CheckForm" type="text">
                    <label>Property Sub-type:
                        <!-- <span class="red">*</span> -->
                    </label><br>
                    <select class="form-control CheckForm" formControlName="Artwork_subtype"
                        (change)="changeSubCategory($event.target.value)" id="all-sub-category"
                        [(ngModel)]="Artwork_subtype">
                        <option value="">Select Artworks & Antiques Sub-type</option>
                        <option *ngFor="let task of subpropertyType" value="{{task.property_subtype}}">
                            {{task.property_subtype}}
                        </option>
                    </select>
                    <label>Purpose: (Ex. For Sale/For Lease)
                        <!-- <span class="red">*</span> -->
                    </label><br>
                    <select class="form-control CheckForm" formControlName="purpose" [(ngModel)]="purpose"
                        (change)="getSelectedPurpose($event.target.value)">
                        <option value="">Select Purpose</option>
                        <option value="No Ready">Not Ready for Listing</option>
                        <option value="For Sale">For Sale</option>
                        <option value="For Lease">For Lease</option>
                        <option value="Both">Both (For Sale & Lease)</option>
                    </select>
                    <label>Link:
                        <!-- <span class="red">*</span> -->
                    </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Link" [(ngModel)]="links"
                        formControlName="links">
                </div>
            </div>
            <div class="row peroperty-fatcs">
                <div class="col-md-12">
                    <h4>Property Address:</h4>
                </div>
                <div class="form-group col-md-4">
                    <label>Address Line 1:
                    </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Address Line 1"
                        [(ngModel)]="address_line1" formControlName="address_line1">
                </div>
                <div class="form-group col-md-4">
                    <label>Address Line 2:
                    </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Address Line 2"
                        [(ngModel)]="address_line2" formControlName="address_line2">
                </div>
                <div class="form-grou col-md-4">
                    <label>Country: </label>
                    <select class="form-control CheckForm" formControlName="country" [(ngModel)]="country"
                        (change)="changeCoutry($event.target.value)">
                        <option value="">All Countries</option>
                        <option *ngFor="let task of getAllCountry" value="{{task.code+'||'+task.name}}">
                            {{task.name}}
                        </option>
                    </select>
                </div>
                <div class="form-grou col-md-4">
                    <label>State: </label>
                    <select class="form-control CheckForm" formControlName="state" [(ngModel)]="state"
                        (change)="changeState($event.target.value)">
                        <option value="">All States</option>
                        <option *ngFor="let task of getAllStates"
                            value="{{task.country+'||'+task.isoCode+'||'+task.region}}">
                            {{task.region}}
                        </option>
                    </select>
                </div>
                <div class="form-grou col-md-4">
                    <label>City: </label>
                    <select class="form-control CheckForm" formControlName="city" [(ngModel)]="city">
                        <option value="">All Cities</option>
                        <option *ngFor="let task of getAllCities" value="{{task.city}}">
                            {{task.city}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Zipcode:
                    </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Zipcode" [(ngModel)]="zipcode"
                        formControlName="zipcode">
                </div>
                <div class="form-group col-md-4">
                    <label>Landmark: </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Landmark" [(ngModel)]="landmark"
                        formControlName="landmark">
                </div>
            </div>

            <div
                class="row peroperty-fatcs westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks Antiques Collectibles">
                <div
                    class="col-md-12 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks Antiques">
                    <h4>Artwork Facts:</h4>
                </div>
                <div class="col-md-12 Collectibles">
                    <h4>Collectible Facts:</h4>
                </div>
                <div class="form-group col-md-4">
                    <label>Price: </label><br>
                    <input class="form-control CheckForm" type="text" placeholder="Price" [(ngModel)]="price"
                        formControlName="price" id="price">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks Antiques">
                    <label>Title:</label><br>
                    <input [(ngModel)]="Title" formControlName="Title" class="form-control CheckForm" type="text"
                        placeholder="Title">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks">
                    <label>Artist:</label><br>
                    <input [(ngModel)]="Artist" formControlName="Artist" class="form-control CheckForm" type="text"
                        placeholder="Artist">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks">
                    <label>Artist History:</label><br>
                    <input [(ngModel)]="Artist_History" formControlName="Artist_History" class="form-control CheckForm"
                        type="text" placeholder="Artist History">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks digitalArtworks Antiques">
                    <label>Size:</label><br>
                    <input [(ngModel)]="Size" formControlName="Size" class="form-control CheckForm" type="text"
                        placeholder="Size">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks">
                    <label>Period:</label><br>
                    <input [(ngModel)]="Period" formControlName="Period" class="form-control CheckForm" type="text"
                        placeholder="Period">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks">
                    <label>Origin:</label><br>
                    <input [(ngModel)]="Origin" formControlName="Origin" class="form-control CheckForm" type="text"
                        placeholder="Origin">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings Sculptures contemporaryArtworks modernArtworks">
                    <label>Current Location:</label><br>
                    <input [(ngModel)]="Current_Location" formControlName="Current_Location"
                        class="form-control CheckForm" type="text" placeholder="Current Location">
                </div>
                <div
                    class="form-group col-md-4 westernPaintings orientalPaintings contemporaryArtworks modernArtworks digitalArtworks">
                    <label>Painting Overview:</label><br>
                    <input [(ngModel)]="Painting_Overview" formControlName="Painting_Overview"
                        class="form-control CheckForm" type="text" placeholder="Painting Overview">
                </div>
                <div class="form-group col-md-4 Sculptures">
                    <label>Sculpture Overview:</label><br>
                    <input [(ngModel)]="Sculpture_Overview" formControlName="Sculpture_Overview"
                        class="form-control CheckForm" type="text" placeholder="Sculpture Overview">
                </div>
                <div class="form-group col-md-4 Antiques Collectibles">
                    <label>History of Item:</label><br>
                    <input [(ngModel)]="History_of_Item" formControlName="History_of_Item"
                        class="form-control CheckForm" type="text" placeholder="History of Item">
                </div>
                <div class="form-group col-md-4 Antiques">
                    <label>Year Built/Made:</label><br>
                    <input [(ngModel)]="Year_Built_Made" formControlName="Year_Built_Made"
                        class="form-control CheckForm" type="text" placeholder="Year Built/Made">
                </div>
                <div class="form-group col-md-4 Collectibles">
                    <label>Serial Number:</label><br>
                    <input [(ngModel)]="Artwork_Serial_Number" formControlName="Artwork_Serial_Number"
                        class="form-control CheckForm" type="text" placeholder="Serial Number">
                </div>
                <div class="form-group col-md-4 Antiques">
                    <label>Maker:</label><br>
                    <input [(ngModel)]="Maker" formControlName="Maker" class="form-control CheckForm" type="text"
                        placeholder="Maker">
                </div>
                <div class="form-group col-md-4 digitalArtworks">
                    <label>Style:</label><br>
                    <input [(ngModel)]="Style" formControlName="Style" class="form-control CheckForm" type="text"
                        placeholder="Style">
                </div>
                <div class="form-group col-md-4 Antiques Collectibles">
                    <label>Description:</label><br>
                    <input [(ngModel)]="Artwork_Description" formControlName="Artwork_Description"
                        class="form-control CheckForm" type="text" placeholder="Description">
                </div>
            </div>

            <!-- add fraction fields show when user have membership -->
            <div class="row peroperty-fatcs fractional_share_box ">
                <div class="col-md-12">
                    <h4>Fractional Share:</h4>
                </div>
                <div class="form-group col-md-4">
                    <label>Fractional Share:</label><br>
                    <select class="form-control CheckForm" (change)="getSelectedFractionalShare($event.target.value)"
                        formControlName="fractional_share_choice_percentage_or_unit"
                        [(ngModel)]="fractional_share_choice_percentage_or_unit">
                        <option value="">Select Fractional Share</option>
                        <option value="Percentage">Percentage</option>
                        <option value="Units">Units</option>
                    </select>
                </div>
                <div class="form-group col-md-4 display-none fractional_text">
                    <label class="fractional_text_label"></label><br>
                    <input [(ngModel)]="fractional_share_text_percentage_or_unit"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                        formControlName="fractional_share_text_percentage_or_unit" maxlength="3"
                        class="form-control CheckForm fractional_text_input" type="text"
                        placeholder="Fractional Share Percentage or Units">
                </div>
                <div class="form-group col-md-4">
                    <label>Offering Price:</label><br>
                    <input [(ngModel)]="offering_Price_fractional_ownership"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                        formControlName="offering_Price_fractional_ownership" class="form-control CheckForm" type="text"
                        placeholder="Offering Price">
                </div>
            </div>

            <div class="row">
                <div class="form-group text-center col-md-12">
                    <button class="btn btn-primary " id="formSubmit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </section>
    <br>
</div>