<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>Membership</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Membership</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="page rowPadding">
                       <section class="entry-content text-justify">
                                <h3>There are four types of WeCoOwn memberships : </h3>
    <p>1. Basic Membership (Free Membership) – Any one who may want to showcase what assets they currently have and may in the near future become a listing member either to sell, to rent, to find co-owners, to participate as a co-owner or to buy the property outright. For example, the member could use co-ownership listing function to become a potential buyer looking for other co-owners to join in the purchase of a property together or the member could be an existing property owner who is looking to sell a part of his/her ownership in a property. The membership&nbsp;is absolutely free.</p>
    <p>Basic Membership is available to everybody. The members will be free to list properties to sell, to buy properties, to charter or rent a property, to list to find other co-owners and to join others to co-own a property. The cost is free.</p>
    <p>2. Basic Plus Membership is intended for a higher level use of the platform and the web applications by the owners and co-owners to manage their properties.</p>
    <p>The number of listings are limited to 10 listings. The cost is $29 per month on a pre-paid month to month basis. The subscription could be cancelled before the end of the any month but there is no refund for the remaining prorated period of that month.</p>
    <p>3. Premium Membership is intended for a higher level use of the platform and the web applications by the owners and co-owners to manage their properties. In addition to the privileges that Basic Plus Members have, they will have access to the expanded use of the co-ownership property management web applications to manage the properties that they own on an on-going monthly basis.</p>
    <p>The number of listings are limited to 50 listings. The cost is $99 per month on a pre-paid month to month basis. The subscription could be cancelled before the end of the any month but there is no refund for the remaining prorated period of that month.</p>
    <p>4. Professional Membership is designed for corporate accounts, licensed brokers, dealers, agents and professional management companies who conduct either fractional share programs or time share programs for their own clients.</p>
    <p>Professional Members will have almost unlimited property listings (500). The cost is $499 per month on a pre-paid month to month basis. The subscription could be cancelled before the end of the any month but there is no refund for the remaining prorated period of that month.</p>
    <p>Professional Members may also subscribe to set up a white-labeled app for their own clients. For more info on this program please send your inquiry to <a href="mailto:info@wecoown.com" target="_blank">info@wecoown.com</a>.</p>
                              </section>
                             
</div>