<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>Membership</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Membership</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="page rowPadding">
    <section class="entry-content text-justify">
        <h3>There are three types of WeCoOwn memberships : </h3>
        <p>1. Regular Membership (Free Membership) – Anyone who may want to showcase whatever properties or assets they
            currently have and may list them on the platform to either sell, rent, find co-owners, to participate as a
            co-owner, or simply to buy a property or an asset outright. For example, the Regular Member could use the
            posting function to become a potential buyer looking for other co-owners to join in the purchase of
            property together or the Regular Member could be an existing property owner who is looking to sell a part or
            a fraction of his/her ownership in a property or asset.</p>
        <p>Regular Membership is available to everybody. The members will be free to list properties to sell, to buy
            properties, to charter or rent a property, to post an entry to find other co-owners, and to join others to
            co-own a property or asset. The listing of the properties or assets on WePropertyowners site is free and
            they could then post it on WeCoOwn site to make the listing visible to all users of the platform. </p>
        <p>This Regular Membership cost will always be free.</p>
        <p>2. Premium Membership is intended for a higher level use of the platform, the web, and mobile applications by
            the owners and co-owners to manage their properties. In addition to the privileges that Regular Members
            have, they will have access to the expanded use of the co-ownership Property Booking & Management System
            (PBMS) to manage the properties that they own on an on-going monthly subscription basis.</p>
        <p>Premium Members will be able to view all listings on the WePropertyowners platform. In addition, they will
            also enjoy the premium promotional exposure of a fixed number of their property or asset listings on
            WePropertyowners on a monthly basis so that their premium listings will be visible to all visitors of the
            WePropertyowners site. </p>
        <p>3. Professional Membership is designed for corporate accounts, licensed brokers, dealers, agents, and
            professional management companies who conduct either fractional share programs or time share programs for
            their own clients.</p>
        <p>Professional Members will have all the privileges that Premium Members have but they will have unlimited
            promotional property or asset listings on the WePropertyowners site. </p>
        <p>Professional Members may also subscribe to an additional White Label Membership to set up a white-labeled
            PBMS software app for their own retail clients. For more info on this program please send your inquiry to
            <a href="mailto:info@wecoown.com" target="_blank">info@wecoown.com</a>.</p>
    </section>

</div>