<!-- middle section -->
<div class="rowPadding bg-grey-light">
    <div class="row">
        <div class="col-md-6 page-tittle page-tittle-h1">
            <h1>Forgot Password</h1>       
        </div>
        <div class="col-md-6 page-tittle">       
            <div aria-label="breadcrumb" class="breadDiv">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="text-color-blue rowPadding" id="firstDiv">
    <section class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>           
                <div class="alert alert-success firstForget-success dispNone"></div>
                <div class="alert alert-danger firstForget-danger dispNone"></div>
                <form class="" [formGroup]="firstForgetForm" (ngSubmit)="submitFirst()" id="simpleForm">
                    <div class="form-group">
                        <label>Username : </label><br>
                        <input class="form-control CheckForm" type="text" placeholder="Username" formControlName="username"
                            id="username"  >
                    </div>                   
                    <div class="">
                        <button class="btn btn-primary"  type="submit">Submit</button>
                        <!-- <button class="btn btn-primary float-right dispNone" id="afterLogin" type="button" onclick="window.location.href='/login'">Login</button> -->
                    </div>
                </form>
            </div>           
        </div>
    </section>
    <br>
</div>

<div class="text-color-blue rowPadding" id="secondDiv" style="display: none;">
    <section class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>           
                <div class="alert alert-success firstForget-success dispNone"></div>
                <div class="alert alert-danger SecondForget-danger dispNone"></div>
                <form class="" [formGroup]="secondForgetForm" (ngSubmit)="submitSecond()" >
                    <div class="form-group">
                        <label>Username : </label><br>
                        <input class="form-control CheckForm" type="text" [(ngModel)]="ForgetUserName" formControlName="username"
                            id="username2" readonly>
                    </div>       
                    <div class="form-group">
                        <label>Code : </label><br>
                        <input class="form-control CheckForm" type="text"  formControlName="otp" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                            id="otp" >
                    </div>                
                    <div class="">
                        <button class="btn btn-primary"  type="submit">Submit</button>
                    </div>
                </form>
            </div>           
        </div>
    </section>
    <br>
</div>

<div class="text-color-blue rowPadding" id="thirdDiv" style="display: none;">
    <section class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <br>           
                <div class="alert alert-success firstForget-success dispNone"></div>
                <div class="alert alert-danger thirdForget-danger dispNone"></div>
                <form class="" [formGroup]="thirdForgetForm" (ngSubmit)="submitThird()" >
                    <div class="form-group">
                        <label>Username : </label><br>
                        <input class="form-control CheckForm" type="text" [(ngModel)]="ForgetUserName" formControlName="username"
                            id="username3" readonly>
                    </div>  
                    <div class="form-group">
                        <label>New Password : </label><br>
                        <input class="form-control" type="password" placeholder="New Password" formControlName="new_password"
                            id="new_password" value="">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password : </label><br>
                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirm_password"
                            id="confirm_password">
                    </div>       
                              
                    <div class="">
                        <button class="btn btn-primary"  type="submit">Submit</button>&nbsp;&nbsp;
                    </div>
                </form>
            </div>           
        </div>
    </section>
    <br>
</div>